<section id="hero" class="container">
    <div class="row mb-4 mt-3">
        <div class="col-md-1"></div>
        <div class="col-md-5 d-flex flex-column justify-content-center align-items-start ps-5">
            <h1 class="text-primary-emphasis fw-bold fs-1">Employee Ease</h1>
            <h5>Manage Your Employees With Ease</h5>
            <button class="btn btn-dark mt-3" routerLink="/auth">Get Started</button>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" [src]="heroImagePath" alt="Employee Ease">
        </div>
    </div>
</section>